html {
  overflow-y: scroll;
}

body {
  font-family: "SF Pro Display", sans-serif;
}
header {
  display: flex;
  background-color: #2f2a2d;
  justify-content: space-between;
  color: #fafafa;
  padding: 30px 80px;
}
button {
  outline: none;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
}
.container {
  display: flex;
}

.search {
  display: flex;
  margin: 0 15px 0 0;
}
.goods-search {
  padding: 0px 10px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.btn-cart:hover {
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-cart {
  background-color: #fafafa;
  color: #2f2a2d;
}
.cart {
  position: absolute;
  border: 1px solid black;
  right: 100px;
  height: 100px;
  background-color: white;
  color: black;
}
.first-row {
  display: grid;
  padding: 10px;
  grid-template-areas: "col-id col-product col-qty col-price col-total";
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
  grid-gap: 10px;
}
.cart-rows {
  display: grid;
  padding: 2px 10px;
  grid-template-areas:
    "col-id col-product col-qty col-price col-total"
    ". . . . btn-cart-close";
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
  grid-gap: 10px;
  align-items: center;
}
.btn-wrapper{
  display: grid;
}
.btn-cart-close {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}
.btn-cart-close:hover {
  background-color: #999;
  border-color: #fafafa;
  color: #2f2a2d;
}
.col-id {
  grid-row: 1;
  grid-column: 1;
}
.col-product {
  grid-row: 1;
  grid-column: 2;
}
.col-qty {
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
}
.col-price {
  grid-row: 1;
  grid-column: 4;
  justify-self: end;
}
.col-total {
  grid-row: 1;
  grid-column: 5;
  justify-self: end;
}

.btn,
.logo {
  align-self: center;
}
.goods-list {
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: 1fr;
  padding: 40px 80px;
  justify-content: center;
}
p {
  margin: 0 0 5px 0;
}
.goods-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}
img {
  max-width: 100%;
  height: auto;
}
.desc {
  border: 1px solid #c0c0c040;
  padding: 15px;
}
.buy-btn {
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.buy-btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}
